# Car Share Locations data preparation

This script wrangles data regarding the ZIP-car sharing locations in DC. The data is taken as CSV files from:

LINK: http://opendata.dc.gov/datasets/efad2a2696164d2db65e6c16d426939e_95

After taking the desired data the script exports the dataframe as a new CSV file.

Some info about the raw data:

**Car Sharing locations**. The dataset contains locations and attributes of car sharing locations, created as part of the District of Columbia, Department of Transportation (DDOT) Street Spatial Database (SSD). The points are the general locations where the Car Sharing (Zip Car) currently exist. A database provided by the District of Columbia, Department of Transportation identified Car sharing locations All DC GIS data is stored and exported in Maryland State Plane coordinates NAD 83 meters. METADATA CONTENT IS IN PROCESS OF VALIDATION AND SUBJECT TO CHANGE.

In [2]:
import pandas as pd
import numpy as np

In [3]:
car_share_loc_df = pd.read_csv('Car_Share_Locations.csv',sep=',')
car_share_loc_df.head(1)

,﻿X,Y,OBJECTID,X,Y.1,WARD,SPACENUM,ZIPCARID,LOCATION,LANDMARK,ADDRESS,STATUS,VENDOR
0,-76.989199,38.866149,1,400937.581127,133146.808513,8,81,0881MLK,On V St b/t MLK Jr Ave & Shannon Pl,In MLK professional development; b/t 2041 and ...,2050 - 2124 BLOCK OF MARTIN LUTHER KING JR AVE...,1,Zipcar

Let's check if there are **null values** in this data set:

In [4]:
len(car_share_loc_df[car_share_loc_df.notnull()]), len(car_share_loc_df)

(83, 83)

The Car_Share_Locations.csv data file does not contain NaN values. 

We proceed by picking up the columns that we are interested in:

In [6]:
car_share_loc_df=car_share_loc_df[['ZIPCARID','ADDRESS','Y','\xef\xbb\xbfX']]
car_share_loc_df.head()

,ZIPCARID,ADDRESS,Y,﻿X
0,0881MLK,2050 - 2124 BLOCK OF MARTIN LUTHER KING JR AVE...,38.866149,-76.989199
1,0882MLK,2050 - 2124 BLOCK OF MARTIN LUTHER KING JR AVE...,38.865427,-76.989523
2,0883ELMI,1 Elmira Street SE,38.826070,-77.007311
3,0884ELMI,1/2Elmira Street SE,38.826058,-77.006879
4,065914TH,902 14th Street SE,38.879982,-76.985510

For clarity and consistency with the others data sets, X and Y are set as Longitude and Latitude variables.
* X = Longitude
* Y = Latitude

In [7]:
#   CAR SHARE LOCATIONS
car_share_loc_df['Text']=car_share_loc_df['ADDRESS'] + '. ZIP car ID: ' +  car_share_loc_df['ZIPCARID']
car_share_loc_df=car_share_loc_df.rename(columns={'\xef\xbb\xbfX': 'Longitude', 'Y': 'Latitude'})
#car_share_loc_df.head()

Finally, the dataframe is exported as a CSV file

In [5]:
car_share_loc_df.to_csv('car_share_locations', sep=',')