# PLot in map all the available public schools, elementary schools, colleges and ...

In [1]:
import pandas as pd
import numpy as np

To get information about the data visit: 

http://geospatial.dcgis.dc.gov/dc_kmz/metadata/PubSchPt.html


Citation_Information:

* Originator: Public Schools
* Publication_Date: 2013-11-22
* Title: Public School
* Geospatial_Data_Presentation_Form: vector digital data
* ublication_Information:
* Publisher: DC GIS

In [2]:
public_schools_df= pd.read_csv('Public_Schools.csv',sep=',')

In [3]:
public_schools_df.FACUSE.value_counts()

Elementary School                72
Middle School                    17
High School                       9
Youth Engagement                  7
High School/Specialized           5
Education Campus                  4
Elementary School/Specialized     2
Arts Center                       2
Special Education                 1
High School//Specialized          1
dtype: int64

In [4]:
public_schools_df=public_schools_df[['NAME','FACUSE','STATUS','LONGITUDE','LATITUDE']]

In [5]:
public_schools_df.head()

,NAME,FACUSE,STATUS,LONGITUDE,LATITUDE
0,Kelly Miller Middle School,Middle School,Active,-76.932455,38.893315
1,Bruce-Monroe Elementary School @ Park View,Elementary School,Active,-77.021186,38.934414
2,Payne Elementary School,Elementary School,Active,-76.984984,38.885171
3,Tubman Elementary School,Elementary School,Active,-77.029443,38.929199
4,Columbia Heights Education Campus 6–8 (CHEC),Middle School,Active,-77.035858,38.929545

For clarity and consistency with the others data sets, X and Y are set as Longitude and Latitude variables.
* LONGITUDE = Longitude
* LATITUDE = Latitude

In [7]:
#   PUBLIC SCHOOLS
public_schools_df['Text']= public_schools_df['NAME']+ '. '+ public_schools_df['FACUSE']+' ('+ public_schools_df['STATUS']+')'
public_schools_df=public_schools_df.rename(columns={'LONGITUDE': 'Longitude', 'LATITUDE': 'Latitude'})
public_schools_df.head(1)

,NAME,FACUSE,STATUS,Longitude,Latitude,Text
0,Kelly Miller Middle School,Middle School,Active,-76.932455,38.893315,Kelly Miller Middle School. Middle School (Act...

In [ ]:
public_schools_df.to_csv('Public_schools_coordinates.csv',sep=',')