# Bus data preparation

In [1]:
import pandas as pd
import numpy as np

In [3]:
Bus_df= pd.read_csv('DC_Circulator_Stops.csv',sep=',')
Bus2_df= pd.read_csv('Metro_Bus_Stops.csv',sep=',')

Bus2_df.tail()

              ﻿X          Y  OBJECTID   LATITUDE  LONGITUDE   ROUTES
10766 -76.955346  38.951954     10369  38.951954 -76.955346       86
10767 -77.169099  38.598694      9628  38.598694 -77.169099      W19
10768 -76.953121  38.954511     10370  38.954511 -76.953121       F8
10769 -77.157619  38.600797      9629  38.600797 -77.157619      W19
10770 -76.956040  38.949919     10371  38.949919 -76.956040  86,86V2

In [7]:
Bus_stops_df=Bus_df[['LINE','STOP','Y','\xef\xbb\xbfX']]
Bus2_stops_df=Bus2_df[['ROUTES','LONGITUDE','LATITUDE','OBJECTID']]

For clarity and consistency with the others data sets, X and Y are set as Longitude and Latitude variables.
* X and LONGITUDE = Longitude
* Y and LATITUDE = Latitude

In [13]:
#   BUS1 STOPS CIRCULATOR
Bus_stops_df['Text']=Bus_stops_df['STOP'] + '. Line: ' +  Bus_stops_df['LINE']
Bus_stops_df=Bus_stops_df.rename(columns={'\xef\xbb\xbfX': 'Longitude', 'Y': 'Latitude'})

#   BUS2 STOPS METRO-BUS
Bus2_stops_df['Text']='Routes: ' +  (Bus2_stops_df['ROUTES'])
Bus2_stops_df=Bus2_stops_df.rename(columns={'LONGITUDE': 'Longitude', 'LATITUDE': 'Latitude'})

#Bus_stops_df.head(1)

In [14]:
Bus_stops_df.to_csv('Bus_stops_df.csv', sep=',')
Bus2_stops_df.to_csv('Metro-Bus_stops_df.csv', sep=',')